
@page "/Add_User"

<PageTitle>Add User</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Add New User</MudText>

<MudText Typo="Typo.body1" Class="mb-8">You can add a new user here.</MudText>


<MudTextField @bind-Value="FirstName" Label="First Name" Variant="Variant.Outlined"></MudTextField>
@code {
    public string FirstName { get; set; }
}
<MudTextField @bind-Value="LastName" Label="Last Name" Variant="Variant.Outlined"></MudTextField>
@code {
    public string LastName { get; set; }
}
<MudTextField @bind-Value="Email" Label="Email Address" Variant="Variant.Outlined"></MudTextField>
@code {
    public string Email { get; set; }
}
<div class="d-flex">
    <MudTextField @bind-Value="Password" Label="Password" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password" />
</div>
@code {
    public string Password { get; set; } = "";

    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    void ButtonTestclick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }
}


<MudGrid>
    <MudItem xs="12">
        <MudField Label="Select a Role" Variant="Variant.Outlined" InnerPadding="false">
            <MudRadioGroup T="string">
                <MudRadio T="string">Admin</MudRadio>
                <MudRadio T="string">User</MudRadio>
                
            </MudRadioGroup>
        </MudField>
    </MudItem>
</MudGrid>



<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Medium">Save</MudButton>
