services:
  incidentapi:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: incidentapi
    ports:
      - "5001:8080"
    environment:
      ASPNETCORE_HTTP_PORTS: "8080"
    depends_on:
      - mssql
    links:
      - mssql

  mssql:
    image: mcr.microsoft.com/mssql/server:2025-latest
    container_name: mssql
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "eZW6FZ7zswB8Dzy@L9L9cAQBUt*@*jda"
      MSSQL_PID: "Developer"
    ports:
      - "1433:1433"
    volumes:
      - mssql-data:/var/opt/mssql

volumes:
  mssql-data:
