services:


    #Container für User-API
    postgres:
        image: postgres:16.11
        restart: unless-stopped
        ports:
        - "5432:5432"
        environment:
            POSTGRES_DB: userapi
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
        volumes:
        - postgres-data:/var/lib/postgresql/data
        networks:
        - sims-net
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres -d userapi"]
            interval: 5s
            timeout: 5s
            retries: 10

    user-api:
        build: 
            context: ./sims-api
            dockerfile: dockerfile
        restart: unless-stopped
        ports:
        - "5000:8080"
        environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=userapi;Username=postgres;Password=postgres
        - Jwt__Key=noneofyourgoddamnbusinessthishastobesogoddamnverylongjesuschristandmariaandjoseph
        - Jwt__Issuer=sims-api
        depends_on:
            postgres:
                condition: service_healthy
        networks:
        - sims-net

    #Container für NoSQL EventLogging API
    redis:
        image: redis:latest
        container_name: redis
        ports:
        - "6379:6379"
        networks:
        - sims-net

    sims-nosql-api:
        build: 
            context: ./sims-nosql-api
            dockerfile: Dockerfile
        container_name: sims-nosql-api
        ports:
        - "8081:8080"
        depends_on:
        - redis
        networks:
        - sims-net

networks:
  sims-net:
    driver: bridge
    
volumes:
    postgres-data:
