

services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - sims-net

  sims-nosql-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sims-nosql-api
    ports:
      - "8081:8080"
    depends_on:
      - redis
    networks:
      - sims-net
    environment:
      - ASPNETCORE_ENVIRONMENT=Development

networks:
  sims-net:
    name: sims-network
