services:
    postgres:
        image: postgres:16
        restart: unless-stopped
        environment:
            POSTGRES_DB: keycloak
            POSTGRES_USER: keycloak
            POSTGRES_PASSWORD: keycloak
        volumes:
        - ./container-data/postgres:/var/lib/postgresql/data
        networks:
        - keycloak-net

    keycloak:
        image: quay.io/keycloak/keycloak:26.4.0
        restart: unless-stopped
        command: start-dev
        environment:
            KEYCLOAK_ADMIN: admin
            KEYCLOAK_ADMIN_PASSWORD: admin
            KC_DB: postgres
            KC_DB_URL_HOST: postgres
            KC_DB_URL_DATABASE: keycloak
            KC_DB_USERNAME: keycloak
            KC_DB_PASSWORD: keycloak
        ports:
        - "8080:8080"
        depends_on:
        - postgres
        networks:
        - keycloak-net
      
    user-api:
        build: .
        restart: unless-stopped
        ports:
        - "5000:80"
        environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - Keycloak__Authority=http://localhost:8080/realms/IncidentSystem
        - Keycloak__Audience=user-api
        depends_on:
        - keycloak
        networks:
        - keycloak-net


networks:
  keycloak-net:
    driver: bridge
