services:
    postgres:
        image: postgres:16.11
        restart: unless-stopped
        ports:
        - "5432:5432"
        environment:
            POSTGRES_DB: userapi
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
        volumes:
        - postgres-data:/var/lib/postgresql/data
        networks:
        - sims-net
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres -d userapi"]
            interval: 5s
            timeout: 5s
            retries: 10

    user-api:
        build: .
        restart: unless-stopped
        ports:
        - "5000:8080"
        environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=userapi;Username=postgres;Password=postgres
        - Jwt__Key=noneofyourgoddamnbusinessthishastobesogoddamnverylongjesuschristandmariaandjoseph
        - Jwt__Issuer=sims-api
        depends_on:
            postgres:
                condition: service_healthy
        networks:
        - sims-net


networks:
  sims-net:
    driver: bridge
    
volumes:
    postgres-data:
