
@page "/User"

<PageTitle>User</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Manage User</MudText>

<MudText Typo="Typo.body1" Class="mb-8">You can manage a user here.</MudText>

<div style="
     display:flex;
     justify-content:center;">
     <div style="transform: translateX(500px);">
<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Warning" Size="Size.Medium">DELETE USER</MudButton>
    </div>
</div>


<MudTextField @bind-Value="FirstName" Label="First Name" Variant="Variant.Outlined"></MudTextField>

@code {
    public string FirstName { get; set; }
}

<MudTextField @bind-Value="LastName" Label="Last Name" Variant="Variant.Outlined"></MudTextField>

@code {
    public string LastName { get; set; }
}

<MudTextField @bind-Value="Email" Label="Email Address" Variant="Variant.Outlined"></MudTextField>

@code {
    public string Email { get; set; }
}



<MudGrid>
    <MudItem xs="12">
        <MudField Label="Role" Variant="Variant.Outlined" InnerPadding="false">
            <MudRadioGroup T="string">
                <MudRadio T="string">Admin</MudRadio>
                <MudRadio T="string">User</MudRadio>
            </MudRadioGroup>
        </MudField>
    </MudItem>
</MudGrid>


<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Medium">Save</MudButton>



